@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

.contact .icons-container .icons i, .featured .featured-slider .slide .icons a, .header .search-form label, .header .icons div,
.header .icons a {
  color: #fff;
  cursor: pointer;
  -webkit-text-stroke: 0.1rem #130f40;
}
.contact .icons-container .icons i:hover, .featured .featured-slider .slide .icons a:hover, .header .search-form label:hover, .header .icons div:hover,
.header .icons a:hover {
  -webkit-text-stroke: 0.1rem #fbde40;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #fbde40;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}

.heading {
  font-size: 3.5rem;
  color: #130f40;
  padding-bottom: 2rem;
  text-align: center;
}
.heading span {
  color: #fbde40;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  background: #fbde40;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background: #130f40;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9% !important;
  background: #fff;
}
.header .logo {
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
}
.header .logo i {
  color: #fbde40;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #666;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: #fbde40;
}
.header .icons div,
.header .icons a {
  font-size: 1.3rem !important;
  margin-left: 0.5rem;
}
.header .icons div {
  font-size: 2rem !important;
}
.header .search-form {
  position: absolute;
  top: 115%;
  right: -105%;
  width: 50rem;
  height: 5.5rem;
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.header .search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
  padding: 0 1.2rem;
}
.header .search-form label {
  font-size: 2.2rem;
  margin-right: 1.7rem;
}

#menu-btn {
  display: none;
}

.home {
  padding: 0;
  padding-top: 7.6rem;
  /* END-SUBGRID 1*/
  /* END-SUBGRID 2*/
  /* END-SUBGRID 3*/
  /* END-SUBGRID 4*/
  /* END-SUBGRID 5*/
  /* like and sub for more!!! */
}
.home .main-grid {
  display: grid;
  grid-template-columns: 10% repeat(3, 26.6%) 10%;
  grid-row: 1fr;
  min-width: 100vw;
  min-height: 40rem !important;
  overflow: hidden;
}
.home .main-grid > * {
  padding: 2rem 0;
}
.home .sub-grid-1 {
  border-right: 1px solid rgb(202, 202, 202);
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}
.home .logo {
  position: relative;
  z-index: 2;
}
.home .logo a {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
}
.home .logo span:first-child {
  text-decoration: underline;
}
.home .number-rotate {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}
.home .number-inner {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}
.home .number-inner .line {
  width: 3rem;
  height: 2px;
  background-color: rgb(24, 24, 24);
}
.home .arrows {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.home .arrows .arrow {
  position: relative;
  z-index: 1;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 50%;
  align-self: flex-start;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.home .arrow:hover {
  opacity: 0.6;
  transform: translateY(-6px);
}
.home .arrows .arrow:nth-child(2) {
  background-color: rgba(236, 236, 236, 0.555);
}
.home .dot1 {
  position: absolute;
  top: 60%;
  right: 20%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  opacity: 0.1;
  background-color: black;
}
.home .dot2 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  opacity: 0.1;
  background-color: black;
  top: 30%;
  left: 15%;
}
.home .background-text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 6vw;
  font-weight: 600;
  letter-spacing: 3px;
  opacity: 0.1;
}
.home .sub-grid-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  border-right: 1px solid rgb(202, 202, 202);
}
.home .background-text-rotate {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}
.home .background-text-rotate span {
  font-size: 10vw;
  opacity: 0.1;
}
.home .sub-grid-3 {
  grid-column: 3/4;
  grid-row: 1/2;
  border-right: 1px solid rgb(202, 202, 202);
  display: grid;
  grid-column: 50% 50%;
  padding: 0;
}
.home .sub-grid-3 .background-color {
  grid-column: 2/3;
  height: 100%;
  background: rgb(234, 214, 198);
}
.home .sub-grid-4 {
  grid-column: 4/5;
  grid-row: 1/2;
  border-right: 1px solid rgb(202, 202, 202);
  background: rgb(234, 214, 198);
}
.home .sub-grid-5 {
  grid-column: 5/6;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(234, 214, 198);
  position: relative;
  height: 100%;
}
.home .sub-grid-5 ul {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 2rem;
  transform: translateX(-6rem);
}
.home .sub-grid-5 .category-rotate {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}
.home .sub-grid-5 .category-inner {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}
.home .sub-grid-5 .category-rotate .line {
  width: 3rem;
  height: 2px;
  background-color: rgb(24, 24, 24);
}
.home .sub-grid-5 .socials {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  transform: translateX(-4.5rem);
}
.home .background-text-2-rotate {
  position: absolute;
  top: 45%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg) translateY(30%) translateX(20%);
}
.home .background-text-2-rotate span {
  font-size: 5vw;
  font-weight: 600;
  letter-spacing: 10px;
  color: rgb(230, 205, 172);
}
.home .sub-grid-5 .dot3 {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background: white;
  border-radius: 50%;
  left: 0;
  top: 15%;
}
.home .sub-grid-5 .dot4 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: white;
  border-radius: 50%;
  left: 15%;
  top: 70%;
}
.home .sub-grid-234 {
  grid-column: 2/5;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home .sub-grid-234 span {
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  top: 50%;
  left: 50%;
  font-size: 6.5vw;
  font-weight: 600;
  transform: translate(-50%, -50%);
}
.home .circle {
  position: relative;
  margin: 2rem 0;
  overflow: hidden;
  z-index: 0;
  border-radius: 50%;
  width: clamp(40rem, 31.896rem + 16.883vw, 50rem);
  height: clamp(40rem, 31.896rem + 16.883vw, 50rem);
  background: rgba(230, 230, 230, 0.425);
}
.home .circle-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  border: 3px dashed rgb(180, 180, 180);
}
.home .sub-grid-234 .circle img {
  position: absolute;
  display: flex;
  width: clamp(40rem, 33.766rem + 12.987vw, 50rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media screen and (max-width: 830px) {
  .home .logo {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }
  .home .logo span {
    font-size: 2rem;
  }
  .home .number-rotate {
    transform: rotate(90deg) translateX(2.5rem);
  }
  .home .sub-grid-5 ul {
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 198, 95);
    background: radial-gradient(circle, rgb(255, 198, 95) 0%, rgb(247, 223, 180) 100%);
    font-size: 2rem;
    gap: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    text-align: center;
    display: none;
  }
  .home .active {
    display: flex !important;
    -webkit-animation: active_anim 0.3s linear;
            animation: active_anim 0.3s linear;
  }
  @-webkit-keyframes active_anim {
    from {
      transform: translate(-50%, -150%);
    }
    to {
      transform: translate(-50%, -50%);
    }
  }
  @keyframes active_anim {
    from {
      transform: translate(-50%, -150%);
    }
    to {
      transform: translate(-50%, -50%);
    }
  }
  .home .sub-grid-5 ul li a {
    color: whitesmoke;
    font-weight: 600;
  }
  .home .fa-bars,
.home .fa-times {
    display: block;
    position: relative;
    z-index: 10;
    font-size: 1.4rem;
    cursor: pointer;
    color: whitesmoke;
  }
  .home .circle {
    width: 30rem;
    height: 30rem;
  }
  .home .sub-grid-234 .circle img {
    width: 30rem;
  }
}
@media screen and (max-width: 660px) {
  .home .logo span {
    font-size: 1.6rem;
  }
  .home .circle {
    width: 20rem;
    height: 20rem;
  }
  .home .sub-grid-234 .circle img {
    width: 20rem;
  }
  .home .sub-grid-5 .socials {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 430px) {
  .home .logo span {
    font-size: 1.2rem;
  }
  .home .circle {
    width: 20rem;
    height: 22rem;
    margin: 1rem;
  }
  .home .circle-border {
    display: none;
  }
  .home .sub-grid-234 .circle img {
    width: 20rem;
  }
}
@media screen and (max-width: 390px) {
  .home .sub-grid-234 {
    min-height: 300px !important;
  }
}
.home .animate-border_fw {
  -webkit-animation: border_fw_anim 1s linear;
          animation: border_fw_anim 1s linear;
}
@-webkit-keyframes border_fw_anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes border_fw_anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.home .animate-border_bk {
  -webkit-animation: border_bk_anim 1s linear;
          animation: border_bk_anim 1s linear;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
@-webkit-keyframes border_bk_anim {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes border_bk_anim {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.home .hide-pic {
  -webkit-animation: hide_pic_anim 1s linear forwards;
          animation: hide_pic_anim 1s linear forwards;
}
@-webkit-keyframes hide_pic_anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hide_pic_anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.home .reveal-pic {
  -webkit-animation: reveal_pic_anim 1s linear both;
          animation: reveal_pic_anim 1s linear both;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
@-webkit-keyframes reveal_pic_anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes reveal_pic_anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.swiper-button-next,
.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: #130f40;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #130f40;
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.banner-container .banner {
  flex: 1 1 42rem;
  overflow: hidden;
  height: 30rem;
  position: relative;
}
.banner-container .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-container .banner:hover img {
  transform: scale(1.2);
}
.banner-container .banner .content {
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
}
.banner-container .banner .content span {
  font-size: 2rem;
  color: #666;
}
.banner-container .banner .content h3 {
  font-size: 3.2rem;
  color: #130f40;
  padding-top: 0.5rem;
}

@-webkit-keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}
.products .filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2.5rem;
  gap: 2rem;
}
.products .filter-buttons .buttons {
  font-size: 1.7rem;
  color: #666;
  cursor: pointer;
}
.products .filter-buttons .buttons:hover, .products .filter-buttons .buttons.active {
  color: #fbde40;
}
.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.products .box-container .box {
  width: 26rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.products .box-container .box.hide {
  display: none;
}
.products .box-container .box.active {
  -webkit-animation: fadeUp 0.4s linear;
          animation: fadeUp 0.4s linear;
}
.products .box-container .box:hover .icons {
  transform: scale(1);
}
.products .box-container .box .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}
.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .box-container .box:hover .image img {
  transform: scale(1.1);
}
.products .box-container .box .content {
  padding: 1rem 1.5rem;
}
.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
  font-weight: normal;
}
.products .box-container .box .content .price {
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.products .box-container .box .content .price .amount {
  font-size: 2.2rem;
  font-weight: bolder;
  color: #130f40;
}
.products .box-container .box .content .price .cut {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #666;
}
.products .box-container .box .content .price .offer {
  font-size: 2rem;
  color: #fbde40;
}
.products .box-container .box .content .stars {
  font-size: 1.7rem;
}
.products .box-container .box .content .stars i {
  color: gold;
}
.products .box-container .box .content .stars span {
  color: #666;
}

.deal {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  background: linear-gradient(#fff 20%, #f9f9f9 20.1%);
}
.deal .image {
  flex: 1 1 42rem;
}
.deal .image img {
  width: 40rem;
}
.deal .content {
  flex: 1 1 42rem;
}
.deal .content span {
  color: #fbde40;
  font-size: 1.7rem;
}
.deal .content h3 {
  color: #130f40;
  font-size: 3rem;
  padding: 0.5rem 0;
}
.deal .content p {
  color: #666;
  font-size: 2rem;
}

.featured .featured-slider .slide {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.featured .featured-slider .slide .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  height: 35rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  gap: 0.5rem;
  transform: scale(0);
  z-index: 1;
}
.featured .featured-slider .slide .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  background: #fff;
  border-radius: 0.5rem;
}
.featured .featured-slider .slide:hover .icons {
  transform: scale(1);
}
.featured .featured-slider .slide .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}
.featured .featured-slider .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured .featured-slider .slide:hover .image img {
  transform: scale(1.1);
}
.featured .featured-slider .slide .content {
  padding: 1rem 1.5rem;
}
.featured .featured-slider .slide .content h3 {
  font-size: 2rem;
  color: #130f40;
  font-weight: normal;
}
.featured .featured-slider .slide .content .price {
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.featured .featured-slider .slide .content .price .amount {
  font-size: 2.2rem;
  font-weight: bolder;
  color: #130f40;
}
.featured .featured-slider .slide .content .price .cut {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #666;
}
.featured .featured-slider .slide .content .price .offer {
  font-size: 2rem;
  color: #fbde40;
}
.featured .featured-slider .slide .content .stars {
  font-size: 1.7rem;
}
.featured .featured-slider .slide .content .stars i {
  color: gold;
}
.featured .featured-slider .slide .content .stars span {
  color: #666;
}

.review {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #f9f9f9;
}
.review .slide {
  border-radius: 0.5rem;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.review .slide p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
}
.review .slide .user {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.review .slide .user img {
  height: 7rem;
  width: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.review .slide .user h3 {
  font-size: 2.2rem;
  color: #130f40;
}
.review .slide .user span {
  font-size: 1.5rem;
  color: #fbde40;
}

.contact .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.contact .icons-container .icons {
  padding: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.contact .icons-container .icons i {
  font-size: 2.5rem;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.contact .icons-container .icons h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #130f40;
}
.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.contact .row form {
  flex: 1 1 42rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.contact .row form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #130f40;
}
.contact .row form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .row form .inputBox input {
  width: 49%;
}
.contact .row form .inputBox input,
.contact .row form textarea {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin: 0.7rem 0;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}
.contact .row .map {
  flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.blogs .slide {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.blogs .slide .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}
.blogs .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs .slide:hover .image img {
  transform: scale(1.2);
}
.blogs .slide .content {
  padding: 2rem;
}
.blogs .slide .content h3 {
  font-size: 2.2rem;
  color: #130f40;
}
.blogs .slide .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}
.blogs .slide .content .icons {
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogs .slide .content .icons a {
  font-size: 1.4rem;
  color: #666;
}
.blogs .slide .content .icons a i {
  padding-right: 0.5rem;
  color: #fbde40;
}
.blogs .slide .content .icons a:hover {
  color: #fbde40;
}

.footer {
  background: #f9f9f9;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #fbde40;
}
.footer .box-container .box a:hover {
  color: #fbde40;
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}
.footer .share {
  padding-top: 2rem;
  text-align: center;
}
.footer .share a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  background: #130f40;
  color: #fff;
  margin: 0.3rem;
}
.footer .share a:hover {
  background: #fbde40;
  transform: rotate(360deg);
}
.footer .credit {
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #666;
  font-size: 2rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .header .search-form {
    width: 100%;
    top: 100%;
    border-radius: 0;
  }
  .header .search-form.active {
    right: 0;
  }
  .home .home-slider .slide {
    padding-left: 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .banner-container .banner .content {
    right: 2rem;
  }
  .banner-container .banner .content h3 {
    font-size: 2rem;
  }
  .products .box-container .box {
    width: 100%;
  }
  .deal .image img {
    width: 100%;
  }
  .deal .content {
    padding-top: 2rem;
    text-align: center;
  }
  .featured .swiper-button-next,
.featured .swiper-button-prev {
    display: none;
  }
  .blogs .swiper-button-next,
.blogs .swiper-button-prev {
    display: none;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}
/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.whatsapp-icon {
  margin-top: 16px;
  color: #FFF;
}

@media screen and (max-width: 1114px) {
  .home {
    padding-top: 100px;
  }
}
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
  }
  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */